@page
@model  Movimientos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <h4>Movimientos</h4>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Almacen.AlmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Estantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Niveles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Cajas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovUnitPrice)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movimientos.OrderByDescending(t => t.MovimientoId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Almacen.AlmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estantes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cajas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovUnitPrice)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MovimientoId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MovimientoId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MovimientoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
@*     <a asp-page="./Edit" asp-route-id="@Model.Movimientos.MovimientoId">Edit</a> |
 *@    <a asp-page="./Index">Back to List</a>
</div>
