@page
@model Materials.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Material</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovimientoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Material.MatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Almacen.AlmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Estantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Niveles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].Cajas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovQuantity)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movimientos.OrderByDescending(t => t.MovimientoId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovimientoId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Material.MatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Almacen.AlmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estantes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cajas)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.MovQuantity)
                </td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MovimientoId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MovimientoId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MovimientoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr >
            <td colspan="6">Total</td>
            <td  align="right">@Model.Movimientos.Sum(s => s.MovQuantity)</td>
        </tr>
    </tfoot>
</table>

<div>
    <a asp-page="./Index2">Back to List</a>
</div>
