@page
@model Materials.Index1Model

@{
    ViewData["Title"] = "Index1";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovAlmId)
            </th>
            <th align="right">
                @Html.DisplayNameFor(model => model.Movimientos[0].MovMatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimientos[0].MovQuantity)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

            @foreach(var outerGroup in Model.Movimientos.GroupBy(mov => mov.MovMatId))
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => outerGroup.Key)
                    </td>
                </tr>

                foreach(var innerGroup in outerGroup.GroupBy(mov => mov.MovAlmId))
                {
                    <tr>
                        <td align="right">
                            @Html.DisplayFor(modelItem => innerGroup.Key)
                        </td>
                    </tr>

                    foreach (var innerGroupElement in innerGroup)
                    {
                        <tr>
                            <td align="right">
                                @Html.DisplayFor(modelItem => innerGroupElement.MovQuantity)
                            </td>
                        </tr>

                    }

                }
            }
        
    </tbody>
</table>
