@page
@model Materials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].MatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].MatUM)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model.Material.ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Existencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatUM)
                    </td>
                </tr>
            }
    </tbody>
</table>
